@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mykyta Kutsenko, group IPZ-41</h1>
    <h1 class="display-4">Lab5 - launch labs №1, №2 and №3 via web application</h1>
</div>
